<div class="container p4">
    <div class="row">

        <table class="table-sm table-striped table-dark" id="tablaVendedor">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Documento Identidad</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Acceso id</th>
                    <th scope="col">Email</th>
                    <th scope="col">
                        <a href="#" class="btn btn-success" data-toggle="modal"
                            data-target="#agregarVendedorModalCenter">Agregar</a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    {{#each vendedor_acceso}}
                    <th scope="row">{{id_vendedor}}</td>
                    <td>{{dui}}</td>
                    <td>{{nombre_completo}}</td>
                    <td>{{direccion}}</td>
                    <td>{{telefono}}</td>
                    <td>{{acceso_id}}</td>
                    <td>{{email}}</td>
                    <td><a href="../vendedor/edit/{{id_vendedor}}" class="btn btn-primary">Editar</a></td>
                    <td><a href="javascript:void(0);" class="btn btn-danger delete" data-id_vendedor="{{id_vendedor}}" data-nombre_completo="{{nombre_completo}}">Borrar</a></td>

                </tr>
                {{else }}
                <tr>
                    <th>No hay datos guardados.</th>
                    <td><a href="../vendedor/add" class="btn btn-success">Crear</a></td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>

</div>

<!-- Modal Agregar Vendedores -->
<form id="formAgregarVendedor" method="post" action="/vendedor/add">
    <div class="modal fade" id="agregarVendedorModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="vendedorModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vendedorModalCenterTitle">Agregar Vendedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" name="dui" class="form-control" placeholder="Dui" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombre_completo" class="form-control" placeholder="Nombre Completo"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" class="form-control" placeholder="Direccion" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="telefono" class="form-control" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Digite su email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="credencial" class="form-control" placeholder="Digite su credencial"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Modificar Clientes -->
<form action="/clientes/edit" method="post">
    <div class="modal fade" id="modificarClienteModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="modificarModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modificarModalCenterTitle">Modificar Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="number" name="dui" class="form-control dui" placeholder="Dui">
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombre_completo" class="form-control nombre_completo"
                            placeholder="Nombre Completo">
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" class="form-control direccion" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <input type="text" name="telefono" class="form-control telefono" placeholder="Telefono">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Elimiar Vendedor -->
<form id="add-row-form" action="/vendedor/delete" method="post">
    <div class="modal fade" id="eliminarVendedorModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="eliminarModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarModalCenterTitle">Eliminar Vendedor</h5>
                </div>
                <div class="modal-body">
                    <strong>Desea eliminar vendedor : </strong><strong class="nombre_completo"></strong><strong>?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id_vendedor" class="vendedor2" required>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-success">Si</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('#tablaClientes').on('click', '.edit', function () {
            var dui = $(this).data('dui');
            var nombre_completo = $(this).data('nombre_completo');
            var direccion = $(this).data('direccion');
            var telefono = $(this).data('telefono');
            $('#modificarClienteModalCenter').modal('show');
            $('.dui').val(dui);
            $('.nombre_completo').val(nombre_completo);
            $('.direccion').val(direccion);
            $('.telefono').val(telefono);
        });

        $('#tablaVendedor').on('click', '.delete', function () {
            var vendedor = $(this).data('id_vendedor');
            var nombre_completo = $(this).data('nombre_completo');
            $('#eliminarVendedorModalCenter').modal('show');
            $('.nombre_completo').text(nombre_completo);
            $('.vendedor2').val(vendedor);
        });
    });
</script>