<div class="container">
    <div class="text-center">
        <h1>Factura</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- <h3 class="panel-title">Cabecera</h3> -->
                    <hr>
                    <div class="row" style="background-color:green;">

                        <div class="col-md-5" style="background-color:white;">
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Cliente</label>

                                <div class="col-sm-10">
                                    <a href="#" class="btn btn-success" data-toggle="modal"
                                        data-target="#consultarClienteModalCenter">Seleccionar
                                        Cliente</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4" style="background-color:white;">
                            <div class="form-group">

                                <label for="fecha" class="col-sm-5 control-label">Fecha factura</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="fecha" placeholder="fecha factura" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 target" style="background-color:white;">
                            <div class="form-group">
                                <label for="id" class="col-sm-3 control-label">Id</label>
                                <div class="col-sm-9">
                                    <input data-toggle="modal" data-target="#consultarVendedorModalCenter"
                                        class="form-control" id="id" type="text" value="{{usuario.email}}" readonly>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input name="id_cliente" class="id_cliente" disabled></input>
                            <address>
                                Nombre Completo Cliente: <strong class="nombre_completoCliente"></strong>
                                <br class="">
                                Direccion despacho: <strong class="direccionCliente"></strong>
                                <br class="">
                                Telefono contacto: <strong class="telefonoCliente"></strong>
                                <br class="">
                                Documento de identidad: <strong class="duiCliente"></strong>
                                <br class="">
                            </address>
                        </div>
                        <div class="col-md-6">
                            <input name="id_vendedor" class="id_vendedor" disabled
                                value="{{usuario.id_vendedor}}"></input>
                            <address>
                                Nombre Completo Vendedor: <strong
                                    class="nombre_completoVendedor">{{usuario.nombre_completo}}</strong>
                                <br class="">
                                Telefono contacto: <strong class="telefonoVendedor">{{usuario.telefono}}</strong>
                                <br class="">
                                Documento de identidad: <strong class="duiCVendedor">{{usuario.dui}}</strong>
                                <br class="">
                                Email: <strong class="emailVendedor">{{usuario.acceso_id}}</strong>
                                <br class="">
                            </address>
                        </div>
                    </div> <!-- row -->
                </div> <!-- panel heading -->
                <div class="panel-body">
                    <h3 class="panel-title">Detalle</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="">Producto</th>
                                <th class="">Descripción</th>
                                <th class="">cantidad</th>
                                <th class="">precio</th>
                                <th class="">tipo impuesto</th>
                                <th class="">importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">001</td>
                                <td class="">Doe moe</td>
                                <td class="">12.00</td>
                                <td class="">100.00</td>
                                <td class="">Reducido 7%</td>
                                <td class="">1200.00</td>
                            </tr>
                            <tr>
                                <td class="">002</td>
                                <td class="">Doe moe TURURU</td>
                                <td class="">10.00</td>
                                <td class="">1000.00</td>
                                <td class="">Normal 18%</td>
                                <td class="">10000.00</td>
                            </tr>
                            <tr>
                                <td class=""></td>
                                <td class=""></td>
                                <td class=""></td>
                                <td class=""></td>
                                <th class="">TOTAL</th>
                                <td class="">10000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- panel body -->
                <div class="panel-footer text-center">Piefactura
                </div>
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row text-center">
        <p class="">peu pagina</p>
    </div>
</div> <!-- container -->

<!-- Modal Consulta Cliente -->
<div class="modal fade" id="consultarClienteModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="consultarClienteModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarClienteModalCenterTitle">Selecciona el Cliente</h5>
            </div>
            <div class="modal-body">
                <table class="table-sm table-striped table-light" id="tablaClientes">
                    <caption>Lista de Clientes</caption>
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Documento Identidad</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#each clientes}}
                            <th scope="row">{{id_cliente}}</td>
                            <td>{{dui}}</td>
                            <td>{{nombre_completo}}</td>
                            <td>{{direccion}}</td>
                            <td>{{telefono}}</td>
                            <td><a href="javascript:void(0);" class="btn btn-primary seleccionarCliente"
                                    data-id_cliente="{{id_cliente}}" data-dui="{{dui}}"
                                    data-nombre_completo="{{nombre_completo}}" data-direccion="{{direccion}}"
                                    data-telefono="{{telefono}}" data-dismiss="modal">Seleccionar</a></td>

                        </tr>
                        {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Consulta Vendedor -->
<div class="modal fade" id="consultarVendedorModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="consultarVendedorModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consultarVendedorModalCenterTitle">Selecciona el Vendedor</h5>
            </div>
            <div class="modal-body">
                <table class="table-striped table-light rounded-top rounded-bottom" id="tablaVendedor">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Documento Identidad</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            {{#each vendedor}}
                            <th scope="row">{{id_vendedor}}</td>
                            <td>{{dui}}</td>
                            <td>{{nombre_completo}}</td>
                            <td>{{direccion}}</td>
                            <td>{{telefono}}</td>
                            <td>{{acceso_id}}</td>
                            <td>{{email}}</td>
                            <td><a href="javascript:void(0);" class="btn btn-primary seleccionarVendedor"
                                    data-id_vendedor="{{id_vendedor}}" data-dui="{{dui}}"
                                    data-nombre_completo="{{nombre_completo}}" data-email="{{email}}"
                                    data-telefono="{{telefono}}" data-dismiss="modal">Seleccionar</a></td>

                        </tr>

                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tablaClientes').on('click', '.seleccionarCliente', function () {
            var id_cliente = $(this).data('id_cliente');
            var duiC = $(this).data('dui');
            var nombre_completoC = $(this).data('nombre_completo');
            var direccionC = $(this).data('direccion');
            var telefonoC = $(this).data('telefono');
            $('.id_cliente').val(id_cliente);
            $('.duiCliente').text(duiC);
            $('.nombre_completoCliente').text(nombre_completoC);
            $('.direccionCliente').text(direccionC);
            $('.telefonoCliente').text(telefonoC);
        });

        $('#tablaVendedor').on('click', '.seleccionarVendedor', function () {
            var id_vendedor = $(this).data('id_vendedor');
            var duiV = $(this).data('dui');
            var nombre_completoV = $(this).data('nombre_completo');
            var emailV = $(this).data('email');
            var telefonoV = $(this).data('telefono');
            $('.id_vendedor').val(id_vendedor);
            $('.duiVendedor').text(duiV);
            $('.nombre_completoVendedor').text(nombre_completoV);
            $('.emailVendedor').text(emailV);
            $('.telefonoVendedor').text(telefonoV);
        });
    });
</script>